/*!
 * shengbangshenghua
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 1140px;
  margin: auto; }

.container::after,
ul::after,
nav::after,
.row::after,
.col-6-1::after,
.top::after {
  display: table;
  clear: both;
  content: ""; }

header {
  border-bottom: #e7e7e7 solid 2px; }
  header .container .logo {
    float: left;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 4px; }
  header .container nav {
    float: right; }
    header .container nav ul {
      float: left; }
      header .container nav ul li {
        float: left; }
        header .container nav ul li a {
          color: #656578;
          font-size: 12px;
          padding-left: 15px;
          padding-right: 15px;
          height: 50px;
          display: inline-block;
          line-height: 50px; }
          header .container nav ul li a:hover, header .container nav ul li a.active {
            color: #0d6edb; }
          header .container nav ul li a i {
            color: #dac9bd;
            margin-left: 6px; }
    header .container nav span {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      background: #a1c72d;
      font-size: 12px; }
      header .container nav span a {
        color: #fff; }
      header .container nav span i {
        color: #fff;
        margin-right: 4px; }

.banner .banner-top {
  background: url("../img/banner-img1.png");
  background-size: 100% 100%;
  padding-top: 73px;
  padding-bottom: 123px; }
  .banner .banner-top .container {
    text-align: center;
    color: #fff; }
    .banner .banner-top .container h1 {
      font-size: 36px;
      margin-bottom: 21px; }
    .banner .banner-top .container p {
      font-size: 16px;
      margin-bottom: 36px; }
    .banner .banner-top .container a {
      padding: 16px 13px;
      font-size: 16px;
      border: solid #fff 3px;
      border-radius: 3px;
      color: #fff; }
      .banner .banner-top .container a:hover {
        background: #4d4d4d; }

.banner .banner-buttom {
  background: #5782b7;
  margin-bottom: 60px; }
  .banner .banner-buttom .container ul li {
    float: left;
    width: 25%;
    padding: 40px 70px;
    text-align: center;
    color: #7db0dc; }
    .banner .banner-buttom .container ul li a {
      display: block;
      padding-bottom: 30px;
      text-align: center; }

.main {
  margin-bottom: 63px; }
  .main .container {
    margin-bottom: 73px; }
    .main .container .row {
      margin-right: -13px;
      margin-left: -13px; }
      .main .container .row .col-6 {
        width: 50%;
        float: left;
        padding-left: 13px;
        padding-right: 13px; }
        .main .container .row .col-6 h2 {
          font-size: 19px; }
        .main .container .row .col-6 span {
          color: #5782b7;
          display: block;
          margin-bottom: 21px; }
        .main .container .row .col-6 strong {
          font-size: 16px;
          color: #7b7b7b;
          line-height: 1.5em;
          margin-bottom: 28px;
          display: block; }
        .main .container .row .col-6 p {
          font-size: 13.5px;
          color: #90857c;
          line-height: 1.5em; }
    .main .container .col-12a {
      margin-right: -20px;
      margin-left: -20px; }
      .main .container .col-12a .col-6-1 {
        margin-top: 40px;
        width: 50%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center; }
        .main .container .col-12a .col-6-1 nav {
          float: left; }
          .main .container .col-12a .col-6-1 nav i {
            background: #406da4;
            color: #fff;
            height: 60px;
            width: 60px;
            line-height: 60px;
            text-align: center; }
        .main .container .col-12a .col-6-1 div {
          float: left;
          width: 89%;
          padding-left: 21px; }
          .main .container .col-12a .col-6-1 div h3 {
            color: #717272;
            margin-bottom: 12px; }
    .main .container .col-12a::after {
      display: table;
      content: "";
      clear: both; }
  .main .col-12 {
    border-bottom: #ccc solid 1px; }
    .main .col-12 .container div {
      width: 85%;
      margin: auto; }
      .main .col-12 .container div h6, .main .col-12 .container div h2 {
        text-align: center; }
      .main .col-12 .container div img {
        margin-bottom: 40px; }
      .main .col-12 .container div p {
        color: #7b7b7b;
        text-align: center;
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 37px; }
      .main .col-12 .container div h2 {
        margin-bottom: 20px;
        color: #4070a7;
        font-size: 19px; }
  .main .main-buttom ul {
    text-align: center; }
    .main .main-buttom ul li {
      display: inline-block; }
      .main .main-buttom ul li a {
        padding: 15px;
        color: #ada1ad;
        font-size: 17px;
        display: inline-block; }
    .main .main-buttom ul li:nth-last-of-type(4) {
      border-top: 1px solid #406da4; }

section .container .top a {
  float: right;
  padding: 11px;
  color: #fff;
  background: #406da4;
  border-radius: 3px; }

section .container .row {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 22px;
  margin-bottom: 70px; }
  section .container .row .col-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.333333%;
    float: left; }
    section .container .row .col-4 h3 {
      margin-top: 4px;
      margin-bottom: 3px; }
    section .container .row .col-4 p {
      color: #7b7b7b;
      font-size: 13px;
      line-height: 1.5em;
      margin-bottom: 12px; }
      section .container .row .col-4 p span {
        float: right;
        margin-right: 17px; }
    section .container .row .col-4 .col-6-1 nav {
      float: left; }
    section .container .row .col-4 .col-6-1 div {
      float: left;
      width: 58%;
      margin-left: 10px; }
      section .container .row .col-4 .col-6-1 div h3 {
        color: #717272;
        margin-top: 0;
        font-size: 13px; }
    section .container .row .col-4 .col-6-1 .see {
      color: #406da4;
      font-size: 14px;
      border: 1px #e4e4e4 solid;
      line-height: 86px;
      text-align: center;
      width: 100%;
      margin-left: 0; }
    section .container .row .col-4 .col-6-1 article::after {
      display: table;
      clear: both;
      content: ""; }
    section .container .row .col-4 .col-6-1 article {
      margin-bottom: 28px; }

section .section-bu {
  margin-bottom: 60px;
  background: #406da4;
  color: #fff; }
  section .section-bu .row {
    margin-bottom: 0; }
    section .section-bu .row div {
      width: 25%;
      float: left;
      text-align: center;
      padding: 80px 15px; }
      section .section-bu .row div i {
        font-size: 36px;
        display: inline-block; }
      section .section-bu .row div time {
        font-size: 22px; }

footer .footer-top {
  background: #ebebeb;
  padding-top: 34px;
  padding-bottom: 34px; }
  footer .footer-top .container h2 {
    float: left;
    font-size: 25px;
    font-weight: 500; }
  footer .footer-top .container div {
    float: right; }
    footer .footer-top .container div a {
      display: inline-block;
      background: #406da4;
      color: #fff;
      border-radius: 3px;
      padding: 17px;
      font-size: 14px; }
      footer .footer-top .container div a:hover {
        background: #093b77; }
    footer .footer-top .container div span {
      color: #7b7b7b;
      font-size: 15px; }

footer .footer-auto {
  padding-top: 30px;
  padding-bottom: 26px;
  background: #49494b; }
  footer .footer-auto .container .row {
    margin-left: -25px;
    padding-right: -25px; }
    footer .footer-auto .container .row .col-4 {
      padding-left: 25px;
      padding-right: 25px;
      width: 33.333%;
      float: left; }
      footer .footer-auto .container .row .col-4 h2 {
        color: #fff;
        margin-bottom: 26px;
        font-size: 16px; }
      footer .footer-auto .container .row .col-4 .logo {
        margin-bottom: 7px; }
      footer .footer-auto .container .row .col-4 span, footer .footer-auto .container .row .col-4 p {
        color: #ccc;
        font-size: 14px;
        line-height: 1.5em; }
      footer .footer-auto .container .row .col-4 span {
        margin-bottom: 22px;
        display: block; }
      footer .footer-auto .container .row .col-4 ul {
        float: left; }
        footer .footer-auto .container .row .col-4 ul li a {
          color: #ccc;
          font-size: 14px;
          display: block;
          padding-top: 6px;
          padding-bottom: 14px; }
      footer .footer-auto .container .row .col-4 ul:nth-last-of-type(2) {
        margin-right: 120px; }
      footer .footer-auto .container .row .col-4 nav {
        padding-top: 20px;
        padding-bottom: 30px; }
        footer .footer-auto .container .row .col-4 nav input {
          color: #998e79;
          background: #414143;
          border: none;
          width: 232px;
          height: 45px;
          text-indent: 7px;
          float: left;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px; }
        footer .footer-auto .container .row .col-4 nav a {
          height: 45px;
          padding-left: 10px;
          line-height: 45px;
          color: #fff;
          float: right;
          padding-right: 10px;
          display: inline-block;
          background: #406da4;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px; }
      footer .footer-auto .container .row .col-4 p {
        font-size: 14px;
        color: #cccccc; }
        footer .footer-auto .container .row .col-4 p i {
          height: 50px;
          width: 50px;
          line-height: 50px;
          text-align: center;
          padding-left: 8px;
          padding-right: 8px;
          border-radius: 5px;
          display: inline-block;
          color: #fff;
          font-size: 20px; }
        footer .footer-auto .container .row .col-4 p i:nth-last-of-type(1) {
          background: #ff6600; }
        footer .footer-auto .container .row .col-4 p i:nth-last-of-type(2) {
          background: #dd4b39; }
        footer .footer-auto .container .row .col-4 p i:nth-last-of-type(3) {
          background: #2b97f0; }
        footer .footer-auto .container .row .col-4 p i:nth-last-of-type(4) {
          background: #3b59ab; }
    footer .footer-auto .container .row .col-4::after {
      display: table;
      clear: both;
      content: ""; }

footer .footer-buttom {
  background: #323232;
  padding-top: 20px;
  padding-bottom: 17px; }
  footer .footer-buttom .container p {
    text-align: center;
    font-size: 14px;
    color: #cccccc; }

@media (max-width: 1200px) {
  .container {
    width: 960px; }
    .container .col-6 {
      width: 100%; }
    .container .col-6-1 {
      width: 100%; }
  .main img {
    width: 100%; }
  section img {
    width: 100%; } }

@media (max-width: 960px) {
  .container {
    width: 720px; }
    .container .col-6 {
      width: 100%; }
    .container .col-6-1 {
      width: 100%; }
  img {
    width: 100%; }
  section .container .row .col-4 .col-6-1 div {
    width: 100%; }
  section .container .row .col-4 .col-6-1 nav {
    margin: auto;
    width: 100%;
    clear: both; }
  .main .container .col-12a .col-6-1 nav {
    width: 100%;
    margin-bottom: 10px; } }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  header .container .logo {
    width: 100%;
    text-align: center;
    margin: auto; }
    header .container .logo img {
      text-align: center;
      width: 50%; }
  .main .container .row .col-6 {
    width: 100%; }
  .main .container .col-12a .col-6-1 {
    width: 100%; }
  section .container .row .col-3 {
    width: 100%; }
  footer .footer-auto .container .row .col-3 {
    width: 100%; }
  .banner .banner-buttom .container ul li a img {
    width: 70px; }
  section .section-bu ul li {
    padding: 37px 7px;
    width: 50%; }
  section .section-bu ul li time {
    display: block;
    text-align: left;
    font-size: 20px; }
  section .section-bu ul li span {
    font-size: 15px; }
  .banner .banner-buttom .container ul li {
    width: 100%; }
  header .container nav span, header .container nav ul li a {
    padding-left: 7px;
    padding-right: 7px; }
  header .container nav span {
    clear: both;
    margin: auto;
    display: table; }
  section .container .row .col-4 {
    width: 100%; }
  footer .footer-auto .container .row .col-4 {
    width: 100%; } }
